#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#####################################################
# No Hearthstone cooldown module configuration
#####################################################
#
#    NoHearthstoneCooldownConfig.Enable
#        Description: Enable to skip the Hearthstone cooldown
#        Default:     1 - Enabled
#                     0 - Disabled
#
#    NoHearthstoneCooldownConfig.Announce 
#        Description: Inform the player about the loaded module
#        Default:     1 - Enabled
#                     0 - Disabled
#

NoHearthstoneCooldown.Enable = 1

NoHearthstoneCooldown.Announce = 1
